<!doctype html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../static/base.css">
</head>
<body>
<div class="container">
<div class="header">
    <h1>Stock Administration Solution </h1>

</div>
<nav>
    <ul>
         <a href="{{ url_for('inicio') }}"> <div class="botao">
             Inicio</div> </a>

        <a href="{{ url_for('funcionarios') }}"> <div class="botao">
             Funcionário</div> </a>

        <a href="{{ url_for('produtos') }}"> <div class="botao">
             Produtos</div> </a>

        <a href="{{ url_for('categorias') }}"> <div class="botao">
             Categorias</div> </a>

        <a href="{{ url_for('movimentacoes') }}"> <div class="botao">
             Movimentações</div> </a>

        <a href="{{ url_for('graficos') }}"> <div class="botao">
             Gráficos</div> </a>

    </ul>
</nav>
<main>
    {%- for mensagem in get_flashed_messages () %}
    {{mensagem}}
    {%- endfor %}

    {% block conteudo %}
    {% endblock conteudo %}
</main>
</div>

</body>
</html>