{% extends 'base.html' %}

{% block conteudo %}
<div class="inicio_text">
    <div class="texto">
        <h1 class="texto_titulo">QUEM SOMOS</h1>
        <h5>Stock Adiministration Solution</h5>
        <p>Oferecemos soluções inovadoras para a gestão do estoque, permitindo monitorar entradas e saídas de<br>
            produtos de eficiência. Com nosso sistema, você reduz custos, evita perdas e otimiza o atendimento ao <br>
            cliente. Tenha visibilidade e agilidade em seu processo de gestão e transforme seu negócio em um <br>
            empreendimento mais eficaz. </p>
        <a class="botao_ini" href="{{url_for('criar_produto')}}">Continuar</a>
        <img class="imagem_caixa" src="/static/image.png">
    </div>

</div>
{% endblock conteudo %}
