{% extends 'base.html' %}

{% block conteudo %}



<table class="produtos_tab">

    <thead>
        <tr>
            <th>Nome</th>
            <th>Marca</th>
            <th>Descrição</th>
            <th>Valor</th>
            <th>Código</th>
            <th>Id da Categoria</th>
            <th>Ação</th>
        </tr>
    </thead>

    <tbody>
        {% for item in produtos_banco%}
        <tr>
            <td>{{item.nome}}</td>
            <td>{{item.marca}}</td>
            <td>{{item.descricao}}</td>
            <td>{{item.valor}}</td>
            <td>{{item.codigo}}</td>
            <td>{{item.categoria_id}}</td>
            <td class="editar"><a href="{{ url_for('editar_produto', id=item.id) }}">Editar Produtos</a></td>
        </tr>
        {% endfor %}
    </tbody>

</table>

{% endblock conteudo %}

