{% extends 'base.html' %}

{% block conteudo %}

<table  class="movimentacao_tab">
    <thead>
        <tr>
            <th>Quantidade</th>
            <th>Data</th>
            <th>Status</th>
            <th>Id do Produto</th>
            <th>Id do Funcionário</th>
            <th>Ação</th>
        </tr>
    </thead>

    <tbody>
        {% for item in movimentacao_banco%}
        <tr>
            <td>{{item.quantidade}}</td>
            <td>{{item.data}}</td>
            <td>{{item.status}}</td>
            <td>{{item.produto_id}}</td>
            <td>{{item.funcionario_id}}</td>
            <td class="editar"><a href="{{ url_for('editar_movimentacao',id=item.id) }}">Editar Movimentação</a></td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<button class="continuar"><a href="{{url_for('criar_movimentacao')}}">Cadastrar</a></button>

{% endblock conteudo %}