{% extends 'base.html' %}

{% block conteudo %}


<div class="categoria_tab">
    <table>
    <thead>
        <tr>
            <th>Nome</th>
            <th>Ação</th>
        </tr>
    </thead>

    <tbody>
        {% for item in categorias_banco %}
        <tr>
            <td>{{item.nome}}</td>
            <td class="editar"><a href="{{ url_for('editar_categoria',id=item.id) }}">Editar Categoria</a></td>
        </tr>
            {% endfor %}
    </tbody>
</table>
</div>

<button class="continuar"><a id="continue" href="{{url_for('criar_categoria')}}">Cadastrar</a></button>

{% endblock conteudo %}






