{% extends 'base.html' %}

{% block conteudo %}

<div class="inicial">
    <ul>
        <li><a href="{{url_for('inicio')}}"> Início</a></li>
        <li><a href="{{url_for('criar_produto')}}">Cadastro de Produto</a></li>
        <li><a href="{{url_for('criar_funcionario')}}">Cadastro de Funcionário</a></li>
        <li><a href="{{url_for('criar_movimentacao')}}"> Cadastro de Movimentação</a></li>
        <li><a href="{{url_for('criar_categoria')}}"> Cadastro de Categorias</a></li>
        <li><a href="{{url_for('produtos')}}"> Lista de Produtos</a></li>
        <li><a href="{{url_for('funcionarios')}}"> Lista de Funcionários</a></li>
        <li><a href="{{url_for('movimentacoes')}}"> Lista de Movimentações</a></li>
        <li><a href="{{ url_for('editar_produto', id=var_produto.id) }}"> Lista de Categorias</a></li>
    </ul>
</div>
{% endblock conteudo %}
